/* --- Estilos Generales --- */
body {
    margin: 0;
    padding: 0;
    background-color: rgb(250, 235, 160);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    transition: background-color 0.3s ease;
}

/* La tarjeta central */
.tarjeta {
    background-color: white;
    padding: 50px;
    border-radius: 30px;
    box-shadow: 0 10px 40px rgba(0,0,0,0.15);
    max-width: 400px;
    width: 90%;
}

h1 { color: #333; margin-bottom: 10px; }
p { color: #666; font-size: 18px; margin-bottom: 30px; }

#titulo-principal span { text-decoration: line-through; }
#emoji-principal img { width: 300px; }
/* El emoji */
.emoji-grande {
    font-size: 80px;
    display: block;
    margin-bottom: 20px;
    animation: flotar 3s ease-in-out infinite;
}

/* El botón */
.boton-regalo {
    background-color: #333;
    color: rgb(250, 235, 160); 
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.2s;
    box-shadow: 0 5px 15px rgba(0,0,0,0.2);
}

.boton-regalo:hover { transform: scale(1.05); background-color: #000; }

/* Animación suave normal */
@keyframes flotar {
    0% { transform: translateY(0px); }
    50% { transform: translateY(-15px); }
    100% { transform: translateY(0px); }
}

/* Clase para hacer temblar el regalo */
.temblor-intenso {
    animation: temblar 0.5s infinite !important; /* !important sobrescribe 'flotar' */
}

@keyframes temblar {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

/* --- Boton para ir a parte 2 --- */
.ocultar {
    display: none;
}
#secret-button {
    background: #a8e6cf;
    border: none;
    height: 100px;
    position: absolute;
    right: 200px;
    top: 200px;
    width: 100px;
}